.timestamps
ASSIGNMENT.doc
ChangeLog
ChangeLog.txt
e
emacs-version.h
gnu22
gnuhead
gnutrunk
mmencoded_verilog-mode
skip_for_xemacs
verilog-mode-gnu-want.el
verilog-mode-tognu.el
verilog-mode.elc
verilog.info
x
*.elc
*.old
*.new
